@import url(https://fonts.googleapis.com/css?family=Lato);

*, :before, :after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  border: none;
}
html, body {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0; 
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 0.7rem;
  overflow-x: hidden; 
  background: #333;
}
a {
  text-decoration: none;
  color: #8E5454;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
}
.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}
/*Menu*/
.navWrapper {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 8px 3px -5px rgba(0,0,0,0.12);
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  background-color: #fff;
  font-size: 0.6rem;
}
.logo {
  width: 15%;
  height: 100%;
  overflow: hidden;
  border-right-color: #E3F3F3;
  position: absolute;
  background-color: #fff; 
}
.logo img {
  width: 65%;
  height: auto;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.logo a {
  width: 100%;
  height: 100%;
  display: block;
}
.main-navigation {
  width: 85%;
  height: 100%;
  left: 15%;
  position: absolute;
}
.menu {
  width: 90%;
  height: 100%;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  background-color: #fff;
  margin-right: 70px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  color: #ffffff;
  width: 16%;
  height: 100%;
  display: table;
  margin-left: 0;
  float: left;
  text-align: center;
}
.menu li a {
  height: 100%;
  padding: 10px;
  color: #333;
  border-left: 1px solid #d0d0d0;
  position: relative;
  display: table-cell;
  letter-spacing: 0.35rem;
  vertical-align: middle;
}
.menu li a:hover {
  text-decoration: none;
}
.menu li:hover {
  background-color: #ff0000;
}
.menu .current-menu-item {
  background-color: #ff0000;
}
.menu .current-menu-item > a {
  color: #FFFFFF;
}
i {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.searching {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #333;
  position: absolute;
  /*right: 0;*/
  left: 100%;
  margin-left: -70px;
  border-left: 1px solid #d0d0d0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fa.main-search {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  background-color: #fff;
  text-align: center;
}
.fa.inactive-main-search {
  font-size: 25px;
  display: block;
  height: 70px;
  width: 70px;
  text-align: center;
  float: left;
  line-height: 66px;
}
.fa.inactive-main-search:hover {
  background-color: #ff0000;
  color: #fff;
}
#fa-close {
  float: right;
}
#formSearh {
  display: none;
  height: 0;
}
#main-searchForm{
  width: 85%;
  display: block;
  float: left;
}
#main-searchNav {
  outline: none;
  border: none;
  width: 100%;
  height: 70px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  letter-spacing: 0.1rem;
  text-indent: 0;
  transition: all 0.3s ease-in-out;
}
.hide-opacity {  
  opacity: 0;
}

/*Rremove "X" in input*/
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*Home Header Image*/
.main-caption {
  /* padding: 8px; */
  /* border-radius: 50%; */
  overflow: hidden;
  position: relative;
  left: 0;
  /*transform: translateX(0%);*/
  width: 100px;
  height: 3px;
  background-color: #f00;
  /* border: 1px solid #fff; */
  margin: 10px auto;
}
.slider {
  width: 100%;
  height: 500px;
  top: 70px;
  left: 0;
  position: absolute;
  background: url('http://localhost/wordpress/wp-content/uploads/2015/06/all-terrain-vehicle-1024x409.jpg') no-repeat;
  background-size: cover;
}
.home-slider {
  width: 100%;
  height: 600px;
  min-height: 600px;
  margin-top: 70px;
  position: relative;
}
.home-slider img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  position: absolute;
  /*top: 50px;*/
}
.wrapper-container {
  width: 100%;
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
.header-slider {    
  letter-spacing: 0.2rem;
  color: #fff;
  width: 550px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  background: rgba(0,0,0,0.7);
  padding: 20px;
  text-align: center;
  border: 1px solid #ffffff;
}
.title {
  text-align: center;
  text-transform: uppercase;
}
.header-slider a {
  color: #E3F3F3;
}
.entry-title {
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
}
#cat-caption {
  line-height: 30px;
  font-size: 1rem;
  border-bottom: 3px solid #440203;
  transition: all 0.1s linear;
}
#cat-caption:hover {
  border-bottom: 3px solid #fff;
  font-size: 1.2rem;
}
.diagonal {
  width: 100%;
  height: 20px;
  position: relative;
  border: solid;
  border-color: #fff transparent;
  border-width: 0px 0px 100px 0px;
}
.reverse {
  border-color: transparent #fff;
  border-width: 0px 0px 100px 0px;
  background: rgba(0,0,0,0.7);
}
.last {
  border-color: #E3F3F3 transparent;
  background: rgba(0,0,0,0.7);
}

/*Grid Featured Article*/
.category-title {
  margin: 20px auto 50px auto;
  width: 350px;
  padding: 15px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}
.category-title > p {  
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 15px;
}
#promo {
  background-image: url('../img/promo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}
#promo-white {
  background-image: url('../img/promo-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px 25px;
}
#promo:before {
  background-image: url('../img/promo-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}
#bike {
  background-image: url('../img/category/bike.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px 35px;
}
#bike-white {
  background-image: url('../img/category/bike-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px 25px;
}
#bike:before {
  background-image: url('../img/category/bike-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px 35px;
}
#info {
  background-image: url('../img/info.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}
#info:before {
  background-image: url('../img/info-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}
.circle-icon {
  width: 50px;
  height: 50px;
  left: 50%;
  top: 0px;
  position: absolute;
  transform: translateX(-50%);
  padding: 8px;
  border: 3px solid #333;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  overflow: hidden;
}
.circle-icon:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 350ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 350ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.circle-icon:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #333;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -2;
  -webkit-transition: all 350ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 350ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.circle-icon:hover{
  color: white;
  border: 0px #333 solid;
}
.circle-icon:hover:before {
  opacity: 1;
}
.circle-icon:hover:after {
  top: 0;
}
.home-grid {
/*  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;*/

  -webkit-column-gap:  0px;
  -moz-column-gap:  0px;
  column-gap: 0px;
}
figure.img-grid {
  max-height: 260px;
  border: 1px solid #E3F3F3;
  overflow: hidden;
}
.img-grid img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.3s ease-in-out;
}
.img-grid img:hover {
  transform: scale(1.5);
  opacity: 0.8;
}
.cover-caption {
  position: absolute;
  z-index: 2;
  background: rgba(0,0,0, 0.5);
  opacity: 0;
  transform-origin: center;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
}

.featured-title {
  font-size: 1rem;
}
.article-grid {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  -webkit-backface-visibility:hidden;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.grid-padding {
  padding: 1em;
  background-color: #E3F3F3;
}
.grid-padding:before {
  content: "";
  position: relative;
  clear: both;
  display: table;
  left: 0;
  margin-top: -20px;
  margin-left: 50%;
  margin-bottom: 10px;
  transform: translateX(-50%);
  border: solid;
  border-color: #E3F3F3 transparent;
  border-width: 0px 10px 10px 10px;
}
#first-main {
  /*margin-top: 15px;*/
}
.main-featured {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fff;
  border: none;
}
.posted {
  font-style: italic;
}
.arrow-right {
  width: 0; 
  height: 0; 
  margin-left: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;  
  border-left: 5px solid #440203;
  display: inline-block;
}
.triangle {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid rgba(227, 243, 243,0.8);
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -34px;
  left: -4px;
}
.triangle > p {
  font-weight: bold;
  transform: rotate(-90deg);
  position: absolute;
  color: #8E5454;
  text-transform: uppercase;
}
#popular-caption {
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 100px solid rgba(227, 243, 243,0.8);
  top: -65px;
  left: -15px;
  z-index: 2000;
}
.more {
  background: transparent;
  border: 2px solid #ff0000;
  padding: 10px;
  display: block;
  width: 18%;
  text-align: center;
  margin: 20px auto 0;
}
/*Label Style*/
.category {
  left: 15px;
  bottom: -10px;
  font-size: 0.6rem;
}
.category > a {
  color: #fff;
}
#popular-caption > p {
  left: 40px;
  bottom: -10px;
  font-size: 0.9rem;
}

/*Date*/
i.date-post {
  font-size: 0.6rem;
}

/*Divider content*/
.divider {
  width: 100%; 
  padding: 20px;
  position: relative;
  background: rgba(0,0,0,0.7);
}
/*Slider Popular Post*/
.swiper-container {
  height: auto;
  width: 60%;
  margin: 0 auto;
  color: white;
  background: #000;
  box-shadow: 0 0 5px #333;
  position: relative;
}
.swiper-image {
  width: 100%;
  height: 100%;
}
.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ff0000'%2F><%2Fsvg>") !important;  
  /*background-size: contain !important;
  right: -1px !important;*/
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ff0000'%2F><%2Fsvg>") !important;
  /*background-size: contain !important;
  left: -2px !important;*/
}
.capt-icon {
  padding-right: 5px;
  padding-top: 10px;
}
.popular-header {
  position: absolute;
  background: rgba(0,0,0,0.8);
  padding: 20px;
  width: 270px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #E3F3F3;
  text-align: center;
}
.popular-header span:nth-of-type(1) {
  line-height: 20px;
  font-size: 1rem;
}
.popular-header a {
  color: #E3F3F3;
}

/* Credit Form */
#credit-form {
  padding: 20px;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQYV2NkwAT/GdHE/jMwMDAiC4IFQIpggjABuEq4CqhR/wEbSQcEChQUOwAAAABJRU5ErkJggg==) repeat;
  background-size: 2px;
}

/*Quotes*/
#quotes {
  background: transparent;
  box-shadow: none;
}
blockquote {
  background: transparent;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  text-align: center;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p:first-of-type {
  display: inline;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 1rem; 
}
blockquote p:last-of-type {
  margin-top: 1rem; 
}

/*Form Simulasi Kredit*/
form#form5 {
  width: 30%;
  border: none;
  background: #ff0000;
  margin-top: 20px;
  position: relative;
}
.form5 .button-submit {
  color: #fff !important;
  cursor: pointer !important;
  display: block !important;
  padding: 5px 20px !important;
  vertical-align: middle !important;
  border: 1px solid #959595 !important;
  border-radius: 5px !important;
  background: #333 !important;
  width: 100% !important;
  font-family: 'Lato' !important;
  line-height: 0 !important;
  height: 40px !important;
  font-size: 16px !important;
}
.form5 .wdform-label { 
  color: #fff !important;
  font-family: 'Lato';
}
.form5 input[type="text"] {  
  height: 30px !important;
}

/*Sales*/
.sales-contact li {
  font-size: 20px;
  font-weight: 700;
}
.sales-contact img {
  margin: 0 auto;
  display: block;
}
.sales-contact .contact-list {
  margin-bottom: 15px; 
}

/*Back to Top*/
#back-to-top{
  position: fixed;
  z-index: 2000;
  width: 50px;
  height: 50px;
  background: #ff0000;
  background-image: url('../img/top.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  color: #E3F3F3;
  border-radius: 50%;
  opacity: 0;
  right: 20px;
  bottom: -20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
footer {
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}
.container {
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  position: relative;
}
/*For Clearfix*/
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 5px;
}
.no-padding {
  padding: 0px;
}

/*Keyframes animation*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {

  }
  100% {

  }
}
.fadeIn {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
  [class*="col-"] {
    width: 100%;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
    padding: 1rem;
  }
  .menu {
    display: none;
  }
  .home-slider {
    height: 200px;
    min-height: 200px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)  {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (min-width : 0px)
and (max-device-width : 320px) {
/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .home-slider {
    height: 400px;
    min-height: 400px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
    padding: 1rem;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}